//COLORS
$color-primary:#4169E1;
$color-primary-light:#4DBED5;
$color-primary-dark:#0F1AB4;

$color-secondary-light: #ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light: #ffa1c9;
$color-tertiary-dark: #a176fa;


$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-grey-dark-2: #626b77;
$color-grey-dark-3: #777677;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;


//GRID
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6Rem;
$gutter-horizontal: 6rem;